@using WebApplication1.Models
@model PagedList.IPagedList<IndexUserViewModel>
@using PagedList.Mvc
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/bootstrap.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <!-- Define Container -->
    <div class="container">
        <!-- Row -->
        <div class="row">


            <!-- Left offset 3 blocks and div with equals 6 blocks and situated in center (width)-->
            <div class="col-md-12">


                <!-- For addUserButton -->
                <div class="row">
                    <div id='UserModal' class='modal fade' data-url='@Url.Action("Create")'>
                        <div id='UserContainer' class="modal-dialog">
                        </div>
                    </div>
                    <p>
                        <button id='addUserButton' class="btn btn-success btn-block">Add User</button>
                    </p>
                </div>

                <!-- For table data view of users-->
                <div class="row">
                    <table class="table table-hover table-bordered table-responsive">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.First().Login)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().LastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().PhoneNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().EmailAddress)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().HomeAddress)
                            </th>
                            <th colspan="2">@Html.Label("Manipulations")</th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Login)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmailAddress)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HomeAddress)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "editUser btn btn-warning" }) 
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "deleteUser btn btn-danger" })
                                </td>
                            </tr>
                        }
                    </table>

                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>
        </div> 
    </div>
    <script>
        $(document).ready(function () {
            $.ajaxSetup({ cache: false });
            $('#addUserButton').click(function () {
                var url = $('#UserModal').data('url');

                $.get(url, function (data) {
                    $('#UserContainer').html(data);
                    $('#UserModal').modal('show');
                });
            });
            $(".editUser").click(function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#UserContainer').html(data);
                    $('#UserModal').modal('show');
                });
            });
            $(".deleteUser").click(function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#UserContainer').html(data);
                    $('#UserModal').modal('show');
                });
            });
        });
    </script>

</body>
</html>
